<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX</title>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
  <button type="button" hx-post="http://localhost:8000/message" hx-target="#res">
    Message
  </button>

  <div id="res"></div>

  <button type="button" hx-get="http://localhost:8000/">
    GET
  </button>

  <button type="button" hx-post="http://localhost:8000/message">
    POST
  </button>

  <div hx-get="http://localhost:8000/">
    <p>GET</p>
  </div>

  <div hx-post="http://localhost:8000/message" hx-trigger="mouseenter">
    <p>Mouse enter</p>
  </div>

  <div hx-post="http://localhost:8000/message" hx-trigger="mouseleave">
    <p>Mouse leave</p>
  </div>

  <input
    type="text"
    hx-post="http://localhost:8000/message"
    hx-trigger="change"
  />

  <div
    hx-post="http://localhost:8000/message"
    hx-trigger="mouseenter once"
  >
    Make a POST request
  </div>

  <div
    hx-post="http://localhost:8000/message"
    hx-trigger="mouseenter delay:3s"
  >
    Make a delayed POST request
  </div>

  <div
    hx-post="http://localhost:8000/message"
    hx-trigger="click from:#btn"
  >
    Make a post triggered by btn
  </div>

  <button id="btn">Click me</button>
</body>
</html>